.category-strip {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 6%;
  margin-top: -50px;
  position: relative;
  z-index: 10;
}

.category-card {
  background: #141414;
  padding: 25px 35px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  min-width: 140px;
}

.category-card:hover {
  transform: translateY(-6px);
  background: #1f1f1f;
}

.category-icon {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}

.category-card p {
  font-size: 14px;
  opacity: 0.9;
}
