/* ===== NAVBAR ===== */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 6%;

  background: rgba(15, 15, 15, 0.95);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #2a2a2a;
}


/* ===== LOGO ===== */
.logo {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo span {
  color: #888;
}

.logo:hover {
  opacity: 0.8;
}

/* ===== LINKS ===== */
.links {
  display: flex;
  align-items: center;
  gap: 28px;
}

/* ===== NAV LINKS ===== */
.links a {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: #b3b3b3;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Hover */
.links a:hover {
  color: #ffffff;
}

/* Animated underline */
.links a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s ease;
}

.links a:hover::after {
  width: 100%;
}

/* Active */
.links a.active {
  color: #ffffff;
}

.links a.active::after {
  width: 100%;
}

/* ===== LOGOUT BUTTON ===== */
.logout-btn {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 8px 18px;
  border-radius: 30px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background: #ffffff;
  color: #000;
}
